# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data
kaggle-data/
*.csv
*.zip
*.tar.gz

# Checkpoints
checkpoints/

# WandB
wandb/

# Środowisko
.env
*.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/